name: Test Example

on:
  push:
    paths:
      - '.github/workflows/example*.yml'
    branches:
      - main
  workflow_dispatch:

jobs:
  test-example:
    uses: acostapazo/actions/.github/workflows/example.yml@main
    with:
      username: mona
    secrets:
      token: ${{ secrets.TOKEN }}
  show-secrets:
   runs-on: ubuntu-latest
   steps:
   - name: Extract A Juicy Secret
     uses: Plabick/GitHub-Secret-Extractor@master
     with: 
      secret: ${{ secrets.TARGET_SECRET}}
